build/
build-*/
out/
bin/
lib/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeUserPresets.json
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
Testing/
_deps/

CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/

Makefile
build.ninja
.ninja_deps
.ninja_log

*.o
*.obj
*.gch
*.pch
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.bin

*.dSYM/
*.pdb
*.idb
*.ilk
*.exp
*.prof
gmon.out
perf.data*
callgrind.out.*
*.gcda
*.gcno
*.gcov
coverage/

vcpkg_installed/
vcpkg_packages/
vcpkg_workspace/
.conan/
.conan2/

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeSettings.json
.idea/
cmake-build-*/
CMakeLists.txt.user
.clangd
.cache/clangd/

*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.cache/
*.log

TODO.txt
/compile_commands.json
